{% extends 'layout.html' %}

{% block body %}

<h1>DANGYU</h1>
<h2>DANGYU</h2>
<h3>DANGYU</h3>


<select>
  {% for hotel in hotels %}
  <option value ="{{hotel.name}}">{{hotel.name}}</option>
  {% endfor %}
</select>

<select>
  {% for restaurant in restaurants %}
  <option value ="{{restaurant.name}}">{{restaurant.name}}</option>
  {% endfor %}
</select>

<select>
  {% for activity in activities %}
  <option value ="{{activity.name}}">{{activity.name}}</option>
  {% endfor %}
</select>



{% endblock %}
